web/WEB-INF/wsdl/localhost_8085/WebServiceFase2_201314817/DetalleIniciativa.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsPersona/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsPersona/" name="DetalleIniciativa">
<types>
<xsd:schema>
<xsd:import namespace="http://wsPersona/" schemaLocation="http://localhost:8085/WebServiceFase2_201314817/DetalleIniciativa?xsd=1" />
</xsd:schema>
</types>
<message name="setRecompensa">
<part name="parameters" element="tns:setRecompensa" />
</message>
<message name="setRecompensaResponse">
<part name="parameters" element="tns:setRecompensaResponse" />
</message>
<message name="setIdRecompensa">
<part name="parameters" element="tns:setIdRecompensa" />
</message>
<message name="setIdRecompensaResponse">
<part name="parameters" element="tns:setIdRecompensaResponse" />
</message>
<message name="EliminarDenuncia">
<part name="parameters" element="tns:EliminarDenuncia" />
</message>
<message name="EliminarDenunciaResponse">
<part name="parameters" element="tns:EliminarDenunciaResponse" />
</message>
<message name="publicarIniciativa">
<part name="parameters" element="tns:publicarIniciativa" />
</message>
<message name="publicarIniciativaResponse">
<part name="parameters" element="tns:publicarIniciativaResponse" />
</message>
<message name="eliminarComentario">
<part name="parameters" element="tns:eliminarComentario" />
</message>
<message name="eliminarComentarioResponse">
<part name="parameters" element="tns:eliminarComentarioResponse" />
</message>
<message name="setDenunciaComentario">
<part name="parameters" element="tns:setDenunciaComentario" />
</message>
<message name="setDenunciaComentarioResponse">
<part name="parameters" element="tns:setDenunciaComentarioResponse" />
</message>
<message name="borrarIniciativa">
<part name="parameters" element="tns:borrarIniciativa" />
</message>
<message name="borrarIniciativaResponse">
<part name="parameters" element="tns:borrarIniciativaResponse" />
</message>
<message name="setPublicacion">
<part name="parameters" element="tns:setPublicacion" />
</message>
<message name="setPublicacionResponse">
<part name="parameters" element="tns:setPublicacionResponse" />
</message>
<message name="setComentario">
<part name="parameters" element="tns:setComentario" />
</message>
<message name="setComentarioResponse">
<part name="parameters" element="tns:setComentarioResponse" />
</message>
<message name="setIniciativa">
<part name="parameters" element="tns:setIniciativa" />
</message>
<message name="setIniciativaResponse">
<part name="parameters" element="tns:setIniciativaResponse" />
</message>
<message name="setComentarioBlog">
<part name="parameters" element="tns:setComentarioBlog" />
</message>
<message name="setComentarioBlogResponse">
<part name="parameters" element="tns:setComentarioBlogResponse" />
</message>
<portType name="DetalleIniciativa">
<operation name="setRecompensa">
<input wsam:Action="http://wsPersona/DetalleIniciativa/setRecompensaRequest" message="tns:setRecompensa" />
<output wsam:Action="http://wsPersona/DetalleIniciativa/setRecompensaResponse" message="tns:setRecompensaResponse" />
</operation>
<operation name="setIdRecompensa">
<input wsam:Action="http://wsPersona/DetalleIniciativa/setIdRecompensaRequest" message="tns:setIdRecompensa" />
<output wsam:Action="http://wsPersona/DetalleIniciativa/setIdRecompensaResponse" message="tns:setIdRecompensaResponse" />
</operation>
<operation name="EliminarDenuncia">
<input wsam:Action="http://wsPersona/DetalleIniciativa/EliminarDenunciaRequest" message="tns:EliminarDenuncia" />
<output wsam:Action="http://wsPersona/DetalleIniciativa/EliminarDenunciaResponse" message="tns:EliminarDenunciaResponse" />
</operation>
<operation name="publicarIniciativa">
<input wsam:Action="http://wsPersona/DetalleIniciativa/publicarIniciativaRequest" message="tns:publicarIniciativa" />
<output wsam:Action="http://wsPersona/DetalleIniciativa/publicarIniciativaResponse" message="tns:publicarIniciativaResponse" />
</operation>
<operation name="eliminarComentario">
<input wsam:Action="http://wsPersona/DetalleIniciativa/eliminarComentarioRequest" message="tns:eliminarComentario" />
<output wsam:Action="http://wsPersona/DetalleIniciativa/eliminarComentarioResponse" message="tns:eliminarComentarioResponse" />
</operation>
<operation name="setDenunciaComentario">
<input wsam:Action="http://wsPersona/DetalleIniciativa/setDenunciaComentarioRequest" message="tns:setDenunciaComentario" />
<output wsam:Action="http://wsPersona/DetalleIniciativa/setDenunciaComentarioResponse" message="tns:setDenunciaComentarioResponse" />
</operation>
<operation name="borrarIniciativa">
<input wsam:Action="http://wsPersona/DetalleIniciativa/borrarIniciativaRequest" message="tns:borrarIniciativa" />
<output wsam:Action="http://wsPersona/DetalleIniciativa/borrarIniciativaResponse" message="tns:borrarIniciativaResponse" />
</operation>
<operation name="setPublicacion">
<input wsam:Action="http://wsPersona/DetalleIniciativa/setPublicacionRequest" message="tns:setPublicacion" />
<output wsam:Action="http://wsPersona/DetalleIniciativa/setPublicacionResponse" message="tns:setPublicacionResponse" />
</operation>
<operation name="setComentario">
<input wsam:Action="http://wsPersona/DetalleIniciativa/setComentarioRequest" message="tns:setComentario" />
<output wsam:Action="http://wsPersona/DetalleIniciativa/setComentarioResponse" message="tns:setComentarioResponse" />
</operation>
<operation name="setIniciativa">
<input wsam:Action="http://wsPersona/DetalleIniciativa/setIniciativaRequest" message="tns:setIniciativa" />
<output wsam:Action="http://wsPersona/DetalleIniciativa/setIniciativaResponse" message="tns:setIniciativaResponse" />
</operation>
<operation name="setComentarioBlog">
<input wsam:Action="http://wsPersona/DetalleIniciativa/setComentarioBlogRequest" message="tns:setComentarioBlog" />
<output wsam:Action="http://wsPersona/DetalleIniciativa/setComentarioBlogResponse" message="tns:setComentarioBlogResponse" />
</operation>
</portType>
<binding name="DetalleIniciativaPortBinding" type="tns:DetalleIniciativa">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="setRecompensa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setIdRecompensa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="EliminarDenuncia">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="publicarIniciativa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="eliminarComentario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setDenunciaComentario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="borrarIniciativa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setPublicacion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setComentario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setIniciativa">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setComentarioBlog">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="DetalleIniciativa">
<port name="DetalleIniciativaPort" binding="tns:DetalleIniciativaPortBinding">
<soap:address location="http://localhost:8085/WebServiceFase2_201314817/DetalleIniciativa" />
</port>
</service>
</definitions>