web/WEB-INF/wsdl/localhost_8085/WebServiceFase2_201314817/DetalleIniciativa.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://wsPersona/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsPersona/">

<xs:element name="borrarIniciativa" type="tns:borrarIniciativa" />

<xs:element name="borrarIniciativaResponse" type="tns:borrarIniciativaResponse" />

<xs:element name="publicarIniciativa" type="tns:publicarIniciativa" />

<xs:element name="publicarIniciativaResponse" type="tns:publicarIniciativaResponse" />

<xs:element name="setIdRecompensa" type="tns:setIdRecompensa" />

<xs:element name="setIdRecompensaResponse" type="tns:setIdRecompensaResponse" />

<xs:element name="setIniciativa" type="tns:setIniciativa" />

<xs:element name="setIniciativaResponse" type="tns:setIniciativaResponse" />

<xs:element name="setRecompensa" type="tns:setRecompensa" />

<xs:element name="setRecompensaResponse" type="tns:setRecompensaResponse" />

<xs:complexType name="publicarIniciativa">
<xs:sequence>
<xs:element name="idusuario" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="publicado" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="publicarIniciativaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setIniciativa">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="fechainicio" type="xs:string" minOccurs="0" />
<xs:element name="fechafinal" type="xs:string" minOccurs="0" />
<xs:element name="idusuario" type="xs:string" minOccurs="0" />
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
<xs:element name="metaeconomica" type="xs:double" />
<xs:element name="idSubcategoria" type="xs:int" />
<xs:element name="publicada" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setIniciativaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrarIniciativa">
<xs:sequence>
<xs:element name="idusuario" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="borrarIniciativaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setIdRecompensa">
<xs:sequence>
<xs:element name="nombreIniciativa" type="xs:string" minOccurs="0" />
<xs:element name="usuario" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setIdRecompensaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setRecompensa">
<xs:sequence>
<xs:element name="paquete" type="xs:string" minOccurs="0" />
<xs:element name="idiniciativa" type="xs:int" />
<xs:element name="tipo" type="xs:string" minOccurs="0" />
<xs:element name="limitada" type="xs:boolean" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="setRecompensaResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>
</xs:schema>