src/conf/xml-resources/web-service-references/Persona/wsdl/localhost_8085/WebServiceFase2_201314817/Persona.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsPersona/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsPersona/" name="Persona">
<types>
<xsd:schema>
<xsd:import namespace="http://wsPersona/" schemaLocation="http://localhost:8085/WebServiceFase2_201314817/Persona?xsd=1" />
</xsd:schema>
</types>
<message name="operation">
<part name="parameters" element="tns:operation" />
</message>
<message name="operationResponse">
<part name="parameters" element="tns:operationResponse" />
</message>
<message name="getCuenta">
<part name="parameters" element="tns:getCuenta" />
</message>
<message name="getCuentaResponse">
<part name="parameters" element="tns:getCuentaResponse" />
</message>
<message name="setRol">
<part name="parameters" element="tns:setRol" />
</message>
<message name="setRolResponse">
<part name="parameters" element="tns:setRolResponse" />
</message>
<message name="setPersona">
<part name="parameters" element="tns:setPersona" />
</message>
<message name="setPersonaResponse">
<part name="parameters" element="tns:setPersonaResponse" />
</message>
<message name="getRol">
<part name="parameters" element="tns:getRol" />
</message>
<message name="getRolResponse">
<part name="parameters" element="tns:getRolResponse" />
</message>
<message name="getAltaBaja">
<part name="parameters" element="tns:getAltaBaja" />
</message>
<message name="getAltaBajaResponse">
<part name="parameters" element="tns:getAltaBajaResponse" />
</message>
<message name="setDonar">
<part name="parameters" element="tns:setDonar" />
</message>
<message name="setDonarResponse">
<part name="parameters" element="tns:setDonarResponse" />
</message>
<portType name="Persona">
<operation name="operation">
<input wsam:Action="http://wsPersona/Persona/operationRequest" message="tns:operation" />
<output wsam:Action="http://wsPersona/Persona/operationResponse" message="tns:operationResponse" />
</operation>
<operation name="getCuenta">
<input wsam:Action="http://wsPersona/Persona/getCuentaRequest" message="tns:getCuenta" />
<output wsam:Action="http://wsPersona/Persona/getCuentaResponse" message="tns:getCuentaResponse" />
</operation>
<operation name="setRol">
<input wsam:Action="http://wsPersona/Persona/setRolRequest" message="tns:setRol" />
<output wsam:Action="http://wsPersona/Persona/setRolResponse" message="tns:setRolResponse" />
</operation>
<operation name="setPersona">
<input wsam:Action="http://wsPersona/Persona/setPersonaRequest" message="tns:setPersona" />
<output wsam:Action="http://wsPersona/Persona/setPersonaResponse" message="tns:setPersonaResponse" />
</operation>
<operation name="getRol">
<input wsam:Action="http://wsPersona/Persona/getRolRequest" message="tns:getRol" />
<output wsam:Action="http://wsPersona/Persona/getRolResponse" message="tns:getRolResponse" />
</operation>
<operation name="getAltaBaja">
<input wsam:Action="http://wsPersona/Persona/getAltaBajaRequest" message="tns:getAltaBaja" />
<output wsam:Action="http://wsPersona/Persona/getAltaBajaResponse" message="tns:getAltaBajaResponse" />
</operation>
<operation name="setDonar">
<input wsam:Action="http://wsPersona/Persona/setDonarRequest" message="tns:setDonar" />
<output wsam:Action="http://wsPersona/Persona/setDonarResponse" message="tns:setDonarResponse" />
</operation>
</portType>
<binding name="PersonaPortBinding" type="tns:Persona">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="operation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCuenta">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setRol">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setPersona">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getRol">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAltaBaja">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="setDonar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="Persona">
<port name="PersonaPort" binding="tns:PersonaPortBinding">
<soap:address location="http://localhost:8085/WebServiceFase2_201314817/Persona" />
</port>
</service>
</definitions>